	<!-- gray bg -->	
	<!--section class="container tm-home-section-1" id="more">
		<div class="row">
			<!-- slider -->
			<!--div class="flexslider effect2 effect2-contact tm-contact-box-1 tm-white-bg">
				<ul class="slides">
					<li>
						<%= image_tag("page/world-map.png", options={alt:"image", class:"contact-image"}) %>
						<div class="contact-text">
							<h2 class="slider-title">Información de Contacto</h2>
							<h3 class="slider-subtitle">Gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis auctor, nisi elit consequat ipsum</h3>
							<p class="slider-description">Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <br><br>
                            Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris gestas quam, ut aliquam massa nisi.</p>
							<div class="slider-social">
								<a href="#" class="tm-social-icon"><i class="fa fa-twitter"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-pinterest"></i></a>
								<a href="#" class="tm-social-icon"><i class="fa fa-google-plus"></i></a>
							</div>
						</div>			      
					</li>
				</ul>
			</div>
		</div>
	</section-->		
	
	<!-- white bg -->
	<section class="section-padding-bottom tm-white-bg">
		<div class="container">
			<div class="row">
				<div class="tm-section-header section-margin-bottom">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p align="center"><%= image_tag("page/EnConstruccion.png", options={height:400}) %></p>	
				</div>				
			</div>
		</div>
	</section>