/** 
 * Holiday Template
 * http://www.templatemo.com/tm-475-holiday
 *
 * COLOR CODES
 * Yellow	#FFFF00
 *
 */

/* CSS Resets */ 
ul,p {
	margin: 0; 
	padding: 0;
}
h1,h2,h3 {
	margin: 0;
	padding: 0;
}
h1,h2,h3,a,p { font-family: 'Open Sans', sans-serif; }
a:hover,
a:focus {
	text-decoration: none;
}

a.tm-btn, input.tm-btn {
	min-height: 40px;
	min-width: 50px;
}

a.tm-btn i{
	font-size:24px;
}

/* Header & Nav */
body { overflow-x: hidden; }

#contenido h1{
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px;
	margin: 20px auto;
}

.inline{display:inline-block}
.tm-login-bar{
	padding: 5px 0;
}

.tm-login-bar > form{
	text-align: right;
	padding: 0 5%;
}

.tm-login-bar > form label, .tm-login-bar > form a{
	color: white;
}

.tm-login-bar > form a:hover,
.tm-login-bar > form a:focus
{
	color: #FFFF00;
}

.tm-header {
	background: #FFFFFF;
	height: 93px;
	position: relative;
	z-index: 100;
	/*border-top: 3px solid #FFFFFF;*/
	border-bottom:3px solid #00b0f0;
}
.tm-site-name-container { padding-top: 13px; }
.tm-site-name {
	color: #FFFF00;
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
}
.tm-site-name:hover,
.tm-site-name:focus {
	color: #FF720B;
}
.mobile-menu-icon { display: none; }
.tm-nav {
	display: block;
	overflow: hidden;
}

.tm-nav i{
	padding: 6px 0 10px 0;
	display:block;
	text-align:center;
}

.tm-nav li {
	list-style: none;
	float: left;
}
.tm-nav li a {
	color: #838383;
	display: block;
	border-top:3px solid #FFFFFF;
	padding: 15px 34px 22px 34px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.tm-nav li a.active{background:#f8f8f8; border-top:3px solid #ffff00; color: #161616}
.tm-nav li a:focus,
.tm-nav li a:hover {
	background: #00b0f0;
	color: #FFFFFF;
	border-top:3px solid #ffff00;
}

/* Banner */
.tm-banner-inner {
    height: auto;
    margin: auto;
    position: absolute;
    top: -20px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tm-banner-title,
.tm-banner-subtitle,
.tm-banner-link {
	text-transform: uppercase;
}
.tm-banner-title,
.tm-banner-subtitle {
	color: white;
}
.tm-banner-title {	
	font-size: 74px;
	font-weight: 600;
}
.tm-banner-subtitle { font-size: 34px; }
.tm-yellow-text { color: #FFFF00; }
.tm-banner-link {
	background: rgba(252, 221, 68, 0.39) none repeat scroll 0% 0%;
	border: 1px solid #D2B731;
	color: #FFF;
	font-weight: 600;
	display: inline-block;
	padding: 18px 40px;
	margin-top: 30px;
	transition: all 0.3s ease;
}
.tm-banner-link:hover,
.tm-banner-link:focus {
	background: rgba(252, 221, 68, 1);
	color: #000;
}
.flexslider.flexslider-banner {
	max-width: 100%;
	height: 100%;
	z-index: 0;
}
.flexslider.flexslider-banner .slides > li {
	text-align: center;
}
.flexslider.flexslider-banner .flex-direction-nav a:before {
	color: #FFFF00;
}
.flex-direction-nav a {
	height: 50px;
}

/* Section 1, index.html */
.tm-gray-bg { background-color: #E5E5E5; }
.tm-home-section-1 {
	position: relative;
	top: -50px;
}

.tm-lightgray-bg{
	background-color:#F8F8F8;
}

/** buttons **/

.button {
	display: inline-block; 
    white-space: nowrap; 
    background-color: rgba(255, 255, 255, .9); 
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
    background-image: linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3)); 
    border: 1px solid #333; 
    padding: 0 1.5em; 
    margin: 0.2em;
    font: bold 1em/2em Arial, Helvetica; 
    text-decoration: none; 
    color: #333;
    text-shadow: 0 -1px 0 rgba(255,255,255,1); 
    -moz-border-radius:4px; 
    border-radius:4px; 
    box-shadow: 0 0 8px rgba(255,255,255,.5) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover{
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0,1), rgba(0, 0, 0, 1)); 
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0,1), rgba(0, 0, 0, 1)); 
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0,1), rgba(0, 0, 0, 1)); 
    background-image: -o-linear-gradient(top, rgba(0, 0, 0,1), rgba(0, 0, 0, 1)); 
    background-image: linear-gradient(top, rgba(0, 0, 0,1), rgba(0, 0, 0, 1));
    color:white;
    text-shadow: 0 -1px 0 rgba(0,0,0,1); 
}

.button:hover::before{
	text-shadow: 0 -1px 0 rgba(0,0,0,1);
}

.button:active{ 
    -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
    -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
    box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset; 
    position: relative; 
    top: 1px; 
} 
.button:focus{ 
	outline: 0; 
}

.button:before{ 
    background: rgba(0, 0, 0, .1); 
    float: left;         
    width: 2em; 
    text-align: center;
    font-size: 1.5em; 
    margin: 0 1em 0 -1em; 
    padding: 0 .2em; 
    border-right:1px solid rgba(0,0,0,.2); 
    box-shadow:1px 0 0 rgba(255,255,255,.3); 
    border-radius: 4px 0 0 4px; 
    pointer-events: none;
 	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1) , rgba(0, 0, 0, .3));
 	text-shadow: -1px -1px 0 rgba(255,255,255,.8);    
} 

.button.add:before{ 
                content: "\271A"; 
 				background-color:rgba(0,200,0,1);
            } 
            .edit:before{ 
                content: "\270E";
                background-color:rgba(255,78,78,1);
            } 
			.button.find:before{
				background-color:rgba(255,255,0,1);
				content:"\25A3";
			}
			
            .delete:before{ 
                content: "\2718";
            } 

            .button.save:before{ 
                content: "\2714";
                background-color:rgba(0,200,0,1);
            } 

            .email:before{ 
                content: "\2709";         
            } 

            .like:before    { 
                content: "\2764";         
            } 

            .button.next:before{ 
                content: "\279C"; 
            }
            
            .button.back:before{ 
                content: "\21E6"; 
                background-color:rgba(0,191,255,1);
            }
            
            .button.home:before{
                content: "\2617"; 
                background-color:rgba(0,191,255,1);
            }            

            .star:before{ 
                content: "\2605"; 
            } 

            .spark:before{ 
                content: "\2737"; 
            } 

            .play:before{ 
                content: "\25B6"; 
            } 


.form-control {	border-radius: 0; }
.form-control-inline{ display:inline-block;}
.form-control:focus, .form-control-inline:focus {
	border-color: #FFFF00;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(252, 221, 68, 0.6);
}
.tm-yellow-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5d11d+0,f3d10e+1,efcf1c+2,fccd0d+4,f7ca0d+5,f9cb1e+6,f7cb10+7,f8cc14+8,f0c40c+54,edc50c+55,e9c108+71,ecc008+78,e6be06+91,e9bd06+93,e8bc06+100 */
	background: #f5d11d; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06',GradientType=0 ); /* IE6-9 */
}
.tm-green-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ec66b+0,2dc970+1,2ac96c+2,2bc76e+4,2bc869+5,2ac871+6,29c86c+7,28c76b+15,2bc76c+16,21bb61+73,1eb860+100 */
	background: #2ec66b; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #2ec66b 0%,#2dc970 1%,#2ac96c 2%,#2bc76e 4%,#2bc869 5%,#2ac871 6%,#29c86c 7%,#28c76b 15%,#2bc76c 16%,#21bb61 73%,#1eb860 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec66b', endColorstr='#1eb860',GradientType=0 ); /* IE6-9 */
}
.tm-red-gradient-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e97262+0,ef6865+1,ed6c5f+2,f07162+4,f17062+5,eb6f67+6,ec6c5f+7,ec6b5e+18,eb5d4f+56,e95242+100 */
	background: #e97262; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #e97262 0%,#ef6865 1%,#ed6c5f 2%,#f07162 4%,#f17062 5%,#eb6f67 6%,#ec6c5f 7%,#ec6b5e 18%,#eb5d4f 56%,#e95242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e97262', endColorstr='#e95242',GradientType=0 ); /* IE6-9 */
}
.tm-yellow-gradient-bg,
.tm-green-gradient-bg,
.tm-red-gradient-bg {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 88px;
}
.tm-city-price-container {
	padding: 30px 0;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
.tm-city-price-container:hover { font-weight: 600; }
.tm-orange-btn {
	width: 130px;
	height: 40px;
	background-color: #F5D338;
	border: medium none;
	color: #5C4905;
	font-size: 12px;
	margin: 24px auto;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.tm-orange-btn:hover,
.tm-orange-btn:focus {
	background-color: #F9E58B;
}

.tm-yellow-btn {
	width: 130px;
	height: 40px;
	background-color: #FFFF00;
	border: medium none;
	color: #5C4905;
	font-size: 12px;
	margin: 24px auto;
	text-transform: uppercase;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
}
.tm-yellow-btn:hover,
.tm-yellow-btn:focus {
	background-color: #FFFFD8;
}

.tm-contact-form-input{
	padding-top:10px;
}

.tm-contact-form-input a{
	margin-top:10px;
	padding:12px;
}

.tm-form-inner { padding: 25px 30px 5px; }


.tableWrapper{
	background-color:#f8f8f8;
}

#content-wrapper{
	background-color:#f8f8f8;
	margin-top:-20px;
}

/*==================================================
 * tm-form
 * ===============================================*/

#form-wrapper{
	margin-top:20px;
	border: 10px solid rgba(230,230,230,.4);
	border-radius:5px;
	padding:0;
	background-color:#f3f3f3;
}

#tm-form-header, .section-header{
	background-color:#FFFF00;
	border-radius: 5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-bottom:5px solid #b1b100;
	padding:0px;
	margin:0;
}

.section-header{
	margin-bottom:20px;
}

#tm-form-header h1{
	margin:0px;
}

#tm-form-content{
	margin:0px 0 0 0;
	padding: 20px 30px 15px 30px;
}

#tm-form-footer, .section-footer{
	width:100%;
	padding: 15px 30px 15px 30px;
	overflow: auto;
	background: #1CA7C8;
	border-top: 5px solid #1687A6;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	border-radius: 0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;	
}

.section-footer{
	margin-top:20px;
}

/*input:invalid,
input:out-of-range {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}*/

/*http://cssdeck.com/labs/different-css3-box-shadows-effects*/
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:160px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.tm-white-bg {
	background-color: #fff;
}
.tm-home-box-1 {
	width: 346px;
	height: 436px;
}
.tm-contact-form-input > label > h4{
	color:red;
	font-weight:bold;
}
.tm-home-box-h {
	width: 90%;
	height: auto;
}

.
.tm-home-box-1-center {
	margin: 0 auto;
}
.tm-home-box-1-right,
.tm-home-box-2-right {
	margin-left: auto;
}
.input-group-addon { border-radius: 0; }
#hotelCarTabs, #personTabs {
	border-bottom: none;
	height: 52px;
}
#hotelCarTabs li {
	width: 50%;
	height: 100%;
}

#personTabs li {
	width: 20%;
	height: 100%;
}
#hotelCarTabs > li > a, #personTabs > li > a {
	margin-right: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	background: transparent linear-gradient(to bottom, #F5D11D 0%, #F3D10E 1%, #EFCF1C 2%, #FCCD0D 4%, #F7CA0D 5%, #F9CB1E 6%, #F7CB10 7%, #F8CC14 8%, #F0C40C 54%, #EDC50C 55%, #E9C108 71%, #ECC008 78%, #E6BE06 91%, #E9BD06 93%, #E8BC06 100%) repeat scroll 0% 0%;
	border: none;
	border-radius: 0;
	color: #5C4905;
	font-weight: 600;
}
#hotelCarTabs > li > a:hover,
#hotelCarTabs > li > a:focus,
#personTabs > li > a:hover, 
#personTabs > li > a:focus {
	border: none;
	background: #F9E58B;
}
 
#hotelCarTabs > li.active > a:focus, 
#hotelCarTabs > li.active > a:hover,
#personTabs > li.active > a:focus, 
#personTabs > li.active > a:hover,
{
	background: transparent;
	border: none;	
}

#personTabs > li.active > a, #hotelCarTabs > li.active > a{
	background: white;
	border: none;	
}

/* Footer */
footer {
    margin: 0 auto;
    padding-bottom: 10px;
    background: #00b0f0 /*url(../img/pattern.jpg)*/ left top repeat;
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05) inset;
}

.footer-box {
    margin-top: 20px;
    text-align: left;
}

.footer-box h4 {
    margin: 10px auto 20px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: /*#5d5d5d*/#ffff00;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.footer-box a{color:#ffff00;}

.footer-box-text p {
    line-height: 24px;
	text-align:justify;
	font-size:12px;
	color: white;
}

.footer-box-text-contact i {
    padding-right: 7px;
}

.footer-box-text-subscribe form {
	padding-bottom: 10px;
}

.footer-box-text-subscribe input[type="text"] {
	width: 95%;
	height: 26px;
}

.footer-border {
    margin-top: 30px;
    border-top: 1px dashed #ddd;
}

.footer-copyright {
    margin-top: 15px;
    line-height: 24px;
    text-align: left;
	color: white;
}

.footer-copyright a{
	color: #ffff00;
	font-weight:bold;
}

.footer-social {
    margin-top: 5px;
    text-align: right;
}
.footer-social a { margin: 0 0 0 10px; font-size: 26px; color: #ffffff; }
.footer-social a:hover, .footer-social a:focus, .footer-box a:hover, .footer-box a:focus { color: white; }


.tm-blue-bg { background-color: #00b0f0; }
.tm-black-bg { background-color: #000000; color:white; }

.tm-copyright-text {
	color: white;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.tm-copyright-text a {
	color: #FFFF00;
}

.tm-copyright-text a:hover {
	color: white;
}

.hotel-search-form .form-group { margin-bottom: 15px; }

/*Section 2, index.html */
.section-margin-top { margin-top: 100px; }
hr { border-top: 1px solid #111010; }
hr.vivo{border-top: 3px solid #ffff00; background-color:white; height:2px; margin:0;}

.tm-section-header {
	margin-bottom: 70px;
	overflow: hidden;
}
.tm-section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
}

/* ca-menu */

.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 100%;
}
.ca-menu li{
    width: 260px;
    height: 85px;
    overflow: hidden;
    display: block;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 4px;
    border-left: 10px solid #00B0F0;
    -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.ca-menu li:last-child{
    margin-bottom: 0px;
}
.ca-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    position:relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 30px;
    text-shadow: 0px 0px 1px #333;
    line-height: 90px;
    position: absolute;
    width: 50px;
    left: 10px;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-content{
    position: absolute;
    left: 70px;
    width: 370px;
    height: 60px;
    top: 20px;
}
.ca-main{
    font-size: 18px;
    font-weight:bold;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.ca-sub{
	margin-top:5px;
    font-size: 14px;
    color: #666;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.ca-menu li:hover{
    border-color: #ffff00;
    background: #00B0F0;
}
.ca-menu li:hover .ca-icon{
    color: #ffff00;
    text-shadow: 0px 0px 1px #ffff00;
    font-size: 50px;
}
.ca-menu li:hover .ca-main{
    color: #ffff00;
    font-weight:bold;
    font-size: 14px;
}
.ca-menu li:hover .ca-sub{
    color: #fff;
    font-size: 17px;
}


/* boxes */

.tm-box-highlight {background: #f8f8f8; padding: 15px; margin: 30px 0; border: 1px solid #CCC; border-radius: 5px; clear: both}

.tm-box-white {background: #ffffff; padding: 15px; margin: 30px 0; border: 1px solid #CCC; border-radius: 5px; clear: both}

.tm-home-box-2 {
	background-color: white;
	max-width: 254px;
}
.tm-home-box-2 h3 {
	font-size: 14px;
	padding: 30px 25px;
	text-transform: uppercase;
}
.tm-date {
	color: #c3c3c3;
	padding: 10px 25px;
	text-transform: uppercase;
}
.tm-home-box-2-container {
	border-top: 1px solid #DDD;
	overflow: hidden;
	background-color:white;
}
.tm-home-box-2-link {
	display: inline-block;
	height: 100%;
	color: black;	
	transition: all 0.3s ease;
	text-align: center;
}
.tm-home-box-2-link:hover,
.tm-home-box-2-link:focus {
	color: #FCDD44;
}
.border-left { border-left: 1px solid #DDD; }
.border-right {	border-right: 1px solid #DDD; }
.tm-home-box-2-icon {
	padding: 20px;
	width: 60px;
	height: 60px;
	font-size: 1.4em;
}
.tm-home-box-2-description {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 125px;
	padding-bottom: 18px;
}
.tm-home-box-2-description.box-3 { width: 175px; }
.home-description {
	margin: 50px auto;
	padding: 0 30px;
	text-align: center;
}

.tm-home-box-3 {
	margin-bottom: 50px;
	max-width: 555px;
	overflow: hidden;
}
.tm-home-box-3-img-container { float: left; }
.tm-home-box-3-info {
    height: 225px;
    max-width: 305px;
    float: right;
    border: 1px solid #CCC;
	border-left: none;
	background-color:white;
}
.tm-home-box-3-info h3{
	padding-top:15px;
}
.tm-home-box-3-info h3, h4{
	text-align: center;
}
.tm-home-box-3-info  h5{
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}
.tm-home-box-3-description { padding: 5px 30px 7px; background-color: white;min-height:55px;max-height:55px;}
.section-padding-bottom { padding-bottom: 60px; }

/* Tours */
.tm-tours-box-1 {
	width: 100%;
	max-width: 532px;
	margin-bottom: 50px;
}
.tm-tours-box-1-info {
	background: #f8f8f8;
	padding: 40px;
	overflow: hidden;
}
.tm-tours-box-1-info-left,
.tm-tours-box-1-info-right {
	float: left;
	width: 50%;
}
.tm-tours-box-1-info-left {
	border-right: 1px solid #B1B1B1;
	padding-right: 30px;
}
.tm-tours-box-1-info-right { padding-left: 30px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.gray-text { color: #B1B1B1; }
.tours-1-description { line-height: 1.8; }
.tm-tours-box-1-link { overflow: hidden }
.tm-tours-box-1-link-left { 
	background-color: #1CA7C8;
	padding: 20px 30px;
	float: left;
	width: 75%;
	text-transform: uppercase;
}
.tm-tours-box-1-link-right {
	float: left;
	background-color: #1687A6;
	font-weight: 600;
	font-size: 18px;
	display: block;
	padding: 17px 30px;
	width: 25%;
	transition: all 0.3s;
	text-align: center;
}
.tm-tours-box-1-link-right:hover,
.tm-tours-box-1-link-right:focus {
	color: white;
	background-color: #1D98B9;
}
.tm-tours-box-1-link-left,
.tm-tours-box-1-link-right {
	color: white;
	height: 60px;
}
.tm-tours-box-2 {
	max-width: 254px;
	width: 100%;
}
.tm-tours-box-2-info h3 {
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 1px solid #b1b1b1;
}
.tm-tours-box-2-info {
    padding: 20px;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
.tm-tours-box-2-link {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: #8C8C8C;
	color: white;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.tm-tours-box-2-link:hover,
.tm-tours-box-2-link:focus {
	color: white;
	background-color: #E8BA0F;
}

.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-5 { margin-bottom: 5px; }

/* About */
.about-section { margin-top: 150px; }
.tm-about-box-1 {
	background-color: white;
	width: 255px;
	height: 380px;
	padding: 30px;
	text-align: center;
}
.tm-about-box-1-img {
	display: block;
	margin: 0 auto 30px;
	border-radius: 50%;
	border: 5px solid #d4d4d4;
	transition: all 0.3s ease;
}
.tm-about-box-1-img:hover,
.tm-about-box-1-img:focus {
	border: 5px solid #E8BA0F;	
}
.tm-about-box-1-title {
	font-size: 17px;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.tm-about-box-1-title span {
	font-size: 14px;
	font-style: normal;
	text-transform: none;
}
.tm-social-icon {
	color: #B1B1B1;
	font-size: 18px;
	padding: 0 10px;
}
.tm-social-icon:hover {	color: #E8BA0F; }
.tm-testimonials-box {
	width: 272px;
	height: 530px;
	background-color: #E8BA0F;
	float: left;
}
.tm-testimonials-title {
	background-color: rgb(96, 104, 116);
	color: white;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}
.tm-testimonials-content {
	padding: 30px;
	text-align: center;
	font-style: italic;
}
.tm-testimonial {
	padding-top: 20px;
	padding-bottom: 15px;
}
.tm-what-we-do-right {
	float: right;
	margin-left: 30px;
	max-width: 820px;
	width: 100%;
}
.tm-about-box-2 { overflow: hidden; }
.tm-about-box-2-img,
.tm-about-box-2-text {
	float: left;
}
.tm-about-box-2-text {
	margin-left: 40px;
	max-width: 440px;
	width: 100%;
}
.tm-about-box-2-title {
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
}
.tm-about-box-2-description {
	text-align: left;
	margin-bottom: 20px;
}
.tm-about-box-2-footer {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: right;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Flexslider */
.flex-caption,
.flexslider.flexslider .slides img {
	float: left;
}
.flex-caption {
  width: 572px;
  padding: 40px;
  left: 0;
  bottom: 0;
  font-size: 14px;
  line-height: 18px;
}
.flexslider.flexslider-banner .slides img { 
	display: block;
	width: 100%; 
}
.flexslider {
	border: none;
	border-radius: 0;
	margin: 0 auto;	
	width: 100%;
}
.flexslider.flexslider-about {
	max-width: 1100px;
}
.flexslider.flexslider-about img {
	max-width: 528px;
}
.slider-title {
	font-style: italic;
	font-weight: 600;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.slider-subtitle {
	font-size: 18px;
	margin-bottom: 30px;
	text-align: left;
}
.slider-description {
	color: #B1B1B1;
	line-height: 1.6;
	margin-bottom: 40px;
	text-align: justify;
}
.slider-social { text-align: right; }

/* Contact */
.tm-contact-box-1 {
	background-color: #F4F4F4;
	padding: 40px;
}
.contact-image { 
	float: left; 
	widthh: 100%;
	max-width: 494px;
}
.contact-text {
	float: left;
	margin-left: 40px;
	max-width: 550px;
	width: 100%;
}
.effect2-contact::before, 
.effect2-contact::after {
	max-width: 550px;
}
#google-map {
	height: 335px;
	width: 100%;
}
.tm-submit-btn {
	background: #f5d11d; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: linear-gradient(to bottom,  #f5d11d 0%,#f3d10e 1%,#efcf1c 2%,#fccd0d 4%,#f7ca0d 5%,#f9cb1e 6%,#f7cb10 7%,#f8cc14 8%,#f0c40c 54%,#edc50c 55%,#e9c108 71%,#ecc008 78%,#e6be06 91%,#e9bd06 93%,#e8bc06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d11d', endColorstr='#e8bc06',GradientType=0 ); /* IE6-9 */
	width: 100%;
	border: none;
	height: 40px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px;
	font-weight: 600;
}
.tm-submit-btn:hover { background: #f5d11d; }
.contact-social { margin-top: 20px; }
.contact-social .fa { color: white; }
.tm-social-facebook { background-color: #4A7DBB; }
.tm-social-dribbble { background-color: #E4588E; }
.tm-social-twitter { background-color: #77D1EE; }
.tm-social-instagram { background-color: #527AA1; }
.tm-social-google-plus { background-color: #CE5754; }
.contact-social .tm-social-icon {
    padding: 5px 0;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.contact-social .tm-social-icon:last-child { margin-right: 0; }

@media screen and (max-width: 1199px) {
	.tm-banner-title { font-size: 50px; }
	.tm-banner-subtitle { font-size: 30px; }
	.tm-home-section-1 { top: -20px; }
	.tm-home-box-1 {
		width: 300px;
		height: 388px;
	}
	.hotel-search-form .form-group { margin-bottom: 18px; }
	.tm-home-box-2-description { padding-bottom: 15px; }
	.tm-home-box-3 {
		margin-left: auto;
		margin-right: auto;
	}
	.tm-home-box-2-description.box-3 { width: 185px; }
	.tm-about-box-1 {
		width: 215px;
		padding: 24px 15px;
	}
	.tm-testimonials-box { width: 220px; }
	.tm-testimonials-content { padding: 20px; }
	.tm-what-we-do-right { max-width: 685px; }
	.tm-about-box-2-img {
		max-width: 280px;
		height: auto;
	}
	.tm-about-box-2-text { max-width: 360px; }
	.flex-caption {	
		padding: 25px; 
		max-width: 500px;
	}
	.flexslider.flexslider-about .slides img {
		max-width: 450px;
	}
	.slider-title {
		margin-bottom: 15px; 
	}
	.slider-subtitle { 
		margin-bottom: 20px;	
	}
	.slider-description {
		margin-bottom: 20px;
		line-height: 1.3;
	}
	.tm-contact-box-1 {	padding: 30px; }
	.contact-image { max-width: 450px; }
	.contact-text {	max-width: 400px; }
	.flexslider.flexslider-about .slides img { width: 450px;	}	
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	.tm-home-box-2-description { width: 94px; }
	.tm-home-box-2-icon {
		padding: 18px;
		width: 55px;
		height: 55px;
	}
	.tm-home-box-3-description { padding-bottom: 47px; }
}

@media screen and (max-width: 991px) {
	.tm-home-box-1 {
		margin-bottom: 50px;
		width: 346px;
		height: 436px;
	}
	.tm-home-box-2 { margin: 0 auto 30px; }
	.tm-home-box-2-description {
		width: 125px;
		vertical-align: top;
	}
	.tm-home-box-2-description.box-3 { width: 175px; }
	.hotel-search-form .form-group { margin-bottom: 30px; }
	.home-description {	margin: 40px auto 40px;	}
	.tm-tours-box-1-link-left {	width: 65%;	}
	.tm-tours-box-1-link-right { width: 35%; }
	.tm-tours-box-2 { margin: 0 auto 30px; }
	.tm-about-box-1 {
		margin: 0 auto 30px;
		width: 100%;
	}
	.tm-what-we-do-right {
		float: none;
		margin-left: 0;
		max-width: 100%;
	}
	.tm-about-box-2-img { max-width: 100%; }
	.tm-about-box-2-text { max-width: 340px; }
	.tm-testimonials-box {
	    max-width: 340px;
	    width: 100%;
	    margin: 30px auto 0;
	    float: none;
	    height: auto;
	}
	.flexslider.flexslider-about,
	.flexslider.flexslider-about .slides img, 
	.flex-caption {
		max-width: 528px;
		width: 100%;
	}
	.flexslider .slides img, 
	.flex-caption {
		width: 100%;
	}
	.contact-text {
		margin-left: 0;
		margin-top: 50px;
		max-width: 100%;
	}
	.tm-contact-form-input { margin-top: 50px; }
	
}

@media screen and (max-width: 767px) {
	
	/* http://www.impressivewebs.com/animate-display-block-none/
	 * Comment by Jon Christensen
	 */
	.tm-nav.show {
		opacity: 1;
		height: auto;
		transition: opacity 1s, height 0;
	}
	.tm-nav {
	    opacity: 0;
		transition: opacity 1s, height 0 1s;
		height: 0;
	    position: fixed;
	    z-index: 1000;
	    top: 69px;
	    right: 15px;
	    background: rgba(15,15,15,0.7);
	    transition: all 0.3s ease;
	}
	.tm-nav li { float: none; }
	.tm-nav li a {
		color: white;
	    display: block;
	    padding: 20px 30px 20px;
	}
	.mobile-menu-icon {
	    display: block;
	    cursor: pointer;
	    color: #FCDD44;
	    font-size: 30px;
	    position: fixed;
	    top: 15px;
	    right: 15px;
	    background-color: rgba(15, 15, 15, 0.7);
	    padding: 6px 15px;
	    z-index: 1000;
	}
	
	.tm-banner-title { font-size: 40px;	}
	.tm-banner-subtitle { font-size: 24px; }
	.tm-banner-inner { top: 0; }
	.tm-banner-link {
		padding: 12px 30px;
		margin-top: 10px;
	}
/* 	.tm-banner, .flexslider.flexslider-banner .slides img { height: 500px; } */
	.tm-home-box-1 {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
	.tm-home-box-1-2 { height: auto; }
	.tm-tours-box-1 {
		margin-left: auto;
		margin-right: auto;
	}
	.tm-what-we-do-right { text-align: center; }
	.section-margin-top.about-section {	margin-top: 120px; }
	.tm-section-header { margin-bottom: 40px; }
	.tm-about-box-1 {
		width: 100%;
		max-width: 300px;
		padding: 30px;
	}
	.tm-about-box-2-img, 
	.tm-about-box-2-text {
		float: none;
	}
	.tm-about-box-2-text { margin: 30px auto; }
}

@media screen and (max-width: 600px) {
	.col-xxs-12 { width: 100%; }
	.section-margin-top { margin-top: 50px;	}
	.tm-banner-title {
    	font-size: 30px;
	}
	.tm-banner-subtitle { font-size: 16px; }
	.tm-banner-link { 
		padding: 10px 25px;
	}
	.tm-home-section-1 { top: 0; }
	.tm-home-box-3-img-container,
	.tm-home-box-3-info {
		float: none;
	}
	.tm-home-box-3-info {
		max-width: 250px;
		border: 1px solid #CCC;
		border-top: none;
	}
	.tm-home-box-3-description {
	    padding-top: 30px;
	    padding-bottom: 34px;
	}
	.tm-home-box-3 { max-width: 250px; }
	.tm-home-box-2-description.box-3 { width: 120px; }
}

@media screen and (max-width: 420px) {
	.tm-banner-title { font-size: 20px;	}
	.tm-banner-subtitle { font-size: 12px; }
	.tm-banner-link { padding: 5px 10px; }
	.tm-tours-box-1-info-left,
	.tm-tours-box-1-info-right {
		float: none;
		width: 100%;
	}
	.tm-tours-box-1-info-left {
		border-right: none;
		border-bottom: 1px solid #B1B1B1;
		padding-right: 0;
		padding-bottom: 30px;	
	}
	.tm-tours-box-1-info-right {
		padding-left: 0;
		padding-top: 30px;		
	}
	.tm-tours-box-1-link-left,
	.tm-tours-box-1-link-right {
		float: none;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.tm-section-title {	font-size: 28px; }
}

/**** LOADING ****/



@keyframes loading {
   0% {
        transform: rotate(0deg);
   }
   25%{
     transform: rotate(160deg);
   }
   50%{
    transform: rotate(0deg);
   }
   75%{
    transform: rotate(160deg);
   }
   100% {
    transform: rotate(0deg);
   };
}

.loading { 
  background-color: rgba(0,0,0,0.8);
  border-radius: 50%;
  margin: 5px auto;
  animation: loading 5s infinite linear;
  pointer-events:none;
  display:block;
}

.spin-1{
  	border: 5px solid #c00353 ;
  	border-top: 5px solid transparent;
  	border-left: 5px solid transparent;
  	width: 120px;
  	height: 120px; 
  	z-index: 9999999;
  	position: fixed;
  	left:50%;
  	top: 50%;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  
}

.spin-2{
  border: 5px solid #05bbc3 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 100px;
  height: 100px;
  animation-delay: 1s;
}
.spin-3{
  border: 5px solid #d2d947 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 80px;
  height: 80px; 
  animation-delay: 1s;
}
.spin-4{
  border: 5px solid #f2a342 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 60px;
  height: 60px; 
  animation-delay: 1s;
}
.spin-5{
  border: 5px solid #f34d51 ;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  width: 40px;
  height: 40px; 
  animation-delay: 1s;
}
.spin-6{
  border: 5px solid #fff ;
  width: 20px;
  height: 20px; 
  animation-delay: 1s;
}