<p>Hola <%= @resource.email %>!</p>

<p>Alguien generó el siguiente enlace para cambiar tu contraseña. Lo puedes hacer mediante haciendo clic el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no hiciste la solicitud, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará mientras no crees una nueva haciendo clic en el link anterior.</p>
